.logo {
    font-weight: 700;
    line-height: 110%; /* 22px */
    color: var(--main-bg-color);
}

.logo__second {
    color: var(--main-color);
}


@media (max-width: 12000px) {
    .logo {
        width: 115px;
        height: 55px;
    }
}

@media (max-width: 580px) {
    .logo {
        width: 73px;
        height: 35px;
    }
}