.option-pay__picture-wrapper {
    background-color: var(--main-color);
    min-height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
    color: var(--main-color);
    margin-bottom: 20px;
}
.option-pay__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.96px;
    margin-bottom: 15px;
}
.option__pay__discription {
    font-size: 18px;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    letter-spacing: 0.72px;
}
@media (max-width: 1440px) {
    .option-pay__title {
        font-size: 22px;
    }
}
@media (max-width: 12000px) {
    .option-pay__picture-wrapper {
        min-height: 106px;
        padding: 25px;
        margin-bottom: 15px;
    }
    .option-pay__title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .option__pay__discription {
        font-size: 16px;
    }
}
@media (max-width: 1000px) {
    .option-pay__picture-wrapper {
        min-height: 73px;
        padding: 18px;
        margin-bottom: 10px;
    }
    .option-pay__title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .option__pay__discription {
        font-size: 16px;
    }
}
@media (max-width: 580px) {
    .option-pay__title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .option__pay__discription {
        font-size: 12px;
    }
}